.all{
    position: relative;
    display: flex;
}.alls{
display: flex;
justify-content: center;
}
.crcile {
    color: #ffffff;
    background-color: #f7c900;
    border-color: #f7c900;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    z-index: 2222222;
}
.line{
    width: 69%;
    height: 10px;
    background: #000;
    display: flex;
    margin: auto;
}
.lines{
    position: absolute;
    background: #000;
    top: -44px;
    width: 50%;
    height: 11px;
    transform: skew(10deg, 24deg);
    margin-left: 3%;

}.lines2{    position: absolute;
    left: 47%;
    background: #000;
    width: 42%;
    height: 11px;
    transform: skew(-10deg, -26deg);
}.table > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: #f7c900;
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}