.item{
    position:relative;
}
.contentall{
    position:absolute;
    top:0;
    width:100%;
    height: 0%;
    background:#000000;
    opacity:0.7;
    transition: height 2s;
}.item:hover .content{
    height:100%;
    transition: height 2s;

}
.item img{
    height:100%;
  width: 100%;

}
.contentall p{
    opacity:0;
    position:absolute;
    left:-100%;
    top:10%;
    color:#FFF;
    font-size:17px;

}
.contentall button{
    opacity:0;

    position:absolute;
    top:50%;
    left:-200%;
    color:#FFF!important;
    background-color: #24353f;
}
.item:hover .contentall P{
opacity: 1;
    left:40%;
    transition: left 2s;

}
.item:hover .contentall button{
    opacity:1;

    display:block;

    left:40%;
    transition: left 2s;

}.pangination{
    display:flex;
    justify-content:center;
    margin-top:20px;
}
.page-item.active .page-link {
   
    background-color: #24353f !important;
    border-color: #24353f !important;
}
.page-link {
    color: #916584 !important;
}

.page-link:focus {  
    box-shadow: 0 0 0 0.25rem rgb(159 157 209 / 50%) !important;
}.filters{
    width:20%;
}.filters h3{
    color:wheat
}