.app__videofeed{
    border:1px solid #000;
}
.buton{
    color: #fff;
    background-color: #24353f;
    border-color: #24353f;
  
  }
  .carousel-control-prev,.carousel-control-next{
    background-color: #ffffff00 !important    ;
    border: none !important;

  }
  