.pangination{
    display:flex;
    justify-content:center;
    margin-top:20px;
}
.page-item.active .page-link {
   
    background-color: #24353f !important;
    border-color: #24353f !important;
}
.page-link {
    color: #916584 !important;
}

.page-link:focus {  
    box-shadow: 0 0 0 0.25rem rgb(159 157 209 / 50%) !important;
}.filters{
    width:20%;
}.filters h3{
    color:wheat
}