@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');
body{
  font-family: 'Concert One', cursive;
}
.bkack{
  font-family: 'Concert One', cursive;

}
.navbac{
  background-color :#F7C900 !important;
  font-family: 'Concert One', cursive;

}.card{

  font-family: 'Concert One', cursive;
  background-color: #f7c900!important;
border: 1px solid #FFF!important;
text-align: center!important;
}.form{
  width: 30%;
  border-radius: 5px ;
  border: 2px solid #F7C900;
  padding: 47px;
  height: 47%;

}.colors{
 color: #F7C900; 
}
.btn-primary{
  background-color: #000;
  color: #fff;
  
    border-color: #000;

}
.btn-primary:hover, .btn-primary:focus {
  color: #000;
  background-color: #F7C900;
  border-color: #F7C900;
}
.nav-item{
font-size:20px !important;}
.Sreach{
  background: white;
  width: 100%;
  position: absolute;

  z-index: 9999999999999999999;
}.sreachparaen{
  position: relative;
}.About h1{
  text-align:center;
  color:#fff;

}

.About hr{
  color:#fff;
  
}.About p{
  color:#fff;
  text-align: justify;

}.items{
  display: flex;
  justify-content:center
}
@media screen and (max-width: 600px) {
  .fs-4 {
    font-size: calc(0.875rem + 0.3vw) !important;}
    .b-example-divider {
     width: 0rem !important;
    
  }.w{
    width:35% !important
  }.w2{
    width:65% !important

  }
  .btn-toggle {
    font-size: 12px;
    display: inline-flex;
    align-items: center;
    padding: 0.1rem 0.1rem;
    font-weight: 300;
    color: rgb(0 0 0);
  }
}
body{
  position: relative;
  overflow-y: scroll!important;
  overflow-x: hidden!important;
padding: 0 !important;
}
.vh60{
height: 60vh;
}